<!DOCTYPE html>
<html>
    <head>
        <title>uts pacar sunghoon</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <style>
body {
    background-image: url("{% static 'image/bgn.jpeg' %}");
}
</style>
    </head>
    <body>
    <div class="container1">
    <h1>🎀    HEYY GURL!!   🎀</h1>
         <p class="title">lemme tell u about me✨</p>
    </div class="section">
        <h2>[About Me]</h2>
        <p>Mahasiswa Prodi Sains Data Universitas Islam Negri Salatiga</p>
    </div>

    <div class="row">
    <div class="container2 flex">
        <div class=""text>
        <h2>Me!</h2>
        <ul>
            <li>Nama     : Afiifah Khoirun Nisa (sunghoon gf)</li>
            <li>Alamat   : Berdug Kidul, Sidomulyo, Ampel, Boyolali</li>
            <li>TTL      : Boyolali, 8 Desember 2006 (kembaran sm sunghoon)</li>
            <li>Hobi     : menonton (termasuk Drakor dan Anime), Membaca (termasuk Webtoon), Jajan (wajib), Main Game (tidak terlalu sering)</li>
        </ul>
        </div>
        <div class="photo">
            <img src="{% static 'image/sunghoon.jpeg' %}" alt="foto">
        </div>
    </div>
    <div class="container3">
        <h2>Skill</h2>
        <p>sebenernya blm terlalu nyata skill nya karena masih belajar</p>
        <ul>
            <li>Python</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Django (baru banget belajar)</li>
            <li>SQL</li>
        </ul>
    </div>
    </div>

    <div class="row-3">

  <div class="box">
    <h2>Experience</h2>
    <h2>Project</h2>
    <ul>
        <li>Membuat CV website sederhana menggunakan HTML dan CSS</li>
        <li>Project awal Django untuk membuat personal web</li>
        <li>Membuat tampulan menu website menggunakan HTML, CSS, dan JavaScript</li>
    </ul>
  </div>

  <div class="box">
    <h2>Interest</h2>
    <ul>
        <li>Membaca (termasuk webtoon)</li>
        <li>Menonton (film, drakor, anime)</li>
        <li>Mendengarkan musik</li>
        <li>Collect merch K-Pop</li>
        <li>Bermain game (tidak sering)</li>
    </ul>
  </div>

  <div class="box">
    <h2>Contact Me</h2>
    <ul>
        <li>WA : 085786436759</li>
        <li>IG : @fa.02hoon</li>
        <li>TikTok : @afield</li>
        <li>Email : afifahkhoirunnisa106@gmail.com</li>
    </ul>
  </div>

</div>


    </body>
</html>