{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>uts pacar sunghoon</title>


    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
        body {
            background-image: url("{% static 'image/bgn.jpeg' %}");
        }
    </style>
</head>



<body>

<div class="container1">
    <h1>🎀 HEYY GURL!! 🎀</h1>
    <p class="title">Hi! I'm Afiifah Khoirun Nisa, a Data Science student who loves technology, K-Pop, anime, and learning web development. Currently exploring data analysis, machine learning, and turning insights into beautifully structured websites!</p>
</div>

<div class="section">
    <h2>[About Me]</h2>
    <p>(❁´◡`❁)</p>
</div>

<div class="row">

<div class="container2 flex">

        <div class="text">
            <h2>Me!</h2>
            <ul>
                <li>Nama : Afiifah Khoirun Nisa (sunghoon gf)</li>
                <li>Alamat : Berdug Kidul, Sidomulyo, Ampel, Boyolali</li>
                <li>TTL : Boyolali, 8 Desember 2006 (kembaran sm sunghoon)</li>
                <li>Hobi : Menonton, Membaca Webtoon, Jajan, dan Main Game</li>
            </ul>
            <h3 style="text-align: left; margin-top: 20px; font-size: 1.2rem;">🎓 Education</h3>
        <ul style="text-align: left;">
            <li>S1 Data Science - Universitas Islam Negeri Salatiga (2024 - Sekarang)</li>
            <li>Madrasah Aliyah Negeri 1 Boyolali Jurusan Keagamaan (Lulus Tahun 2024)</li>
        </ul>
        </div>

        <div class="photo">
            <img src="{% static 'image/gw.jpeg' %}" alt="foto">
        </div>

    </div>

    <div class="container3" style="width: 80%; margin: 0 auto;">
    <h2>Skill</h2>

    <div class="skill-container">
        <div class="skill-box">
            <h3>Programming & Data</h3>
            <ul>
                <li>Python</li>
                <li>SQL</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Django</li>
            </ul>
        </div>
        
        <div class="skill-box">
            <h3>Tools</h3>
            <ul>
                <li>Microsoft Word</li>
                <li>Microsoft Excel</li>
                <li>Power Point</li>
                <li>Canva</li>
                <li>CapCut (Video Editing)</li>
            </ul>
        </div>
    </div>
</div>

</div>

<div class="row-3">

    <div class="box">
        <h2>Projects</h2>
        <ul>
            <li>Membuat CV website sederhana menggunakan HTML dan CSS</li>
            <li>Project awal Django untuk membuat personal web</li>
            <li>Membuat tampilan menu website menggunakan HTML, CSS, dan JavaScript</li>
        </ul>
    </div>

    <div class="box">
        <h2>Interest</h2>
        <ul>
            <li>Membaca (termasuk webtoon)</li>
            <li>Menonton (film, drakor, anime)</li>
            <li>Mendengarkan musik</li>
            <li>Collect merch K-Pop</li>
            <li>Bermain game</li>
            <li>Traveling</li>
        </ul>
    </div>

    <div class="box">
        <h2>Contact Me</h2>
        <ul>
            <li>WA : 085786436759</li>
            <li>Instagram : @fa.02hoon</li>
            <li>TikTok : @afield</li>
            <li>Email : afifah@gmail.com</li>
        </ul>
    </div>

</div>

<div class="quote">
    <p>
        "Still learning, still growing, and trying my best every day." 🌷
    </p>
</div>

<footer>
    <p>Made with 💖 by Afiifah Khoirun Nisa</p>
</footer>

</body>
</html>
